<p>{{myVar}}</p>
<p>{{dateNow.getDate()}}/
    <span *ngIf="dateNow.getMonth()<9">0{{dateNow.getMonth()+1}}/</span>
    <span *ngIf="dateNow.getMonth()>=9">{{dateNow.getMonth()+1}}/</span>
    {{dateNow.getFullYear()}}
</p>

